<h1>Hello Todo</h1>
<div class="doboz">
    <h1 class="cim">Add new task</h1>
  
    <input type="text" size="35" id="iranyitoText" placeholder="Describe task" [(ngModel)]="actual.name"/>
  
    <input type="radio" id="today" name="day"  value="ma" checked="checked" [(ngModel)]="when"   checked="checked">
    <label for="today">today</label>
    <input type="radio" id="yestuday" name="day" class="iranyito" value="holnap" [(ngModel)]="when">
    <label for="yestuday">tomorov</label>
    <button (click)="create(actual)" class="iranyito" id="saves">Save</button>
  </div>
  
  <div>
    <div class="doboz lista">
      <h3 class="cim">Task for Today</h3>
      <table>
        <tr>
          <th></th>
        </tr>
        <tr *ngFor="let x of todos">
          <td><input type="checkbox" id="mainap[]"  (click)="select(x, 'holnapra')" ></td>
          <td>{{x.name}}</td>
          
        </tr>
      </table>  
    </div>
  
    <div class="lista">
        <img src="../assets/nyilJobra.png" alt="Holnapra" height="50px" width="50px" (click)="move('holnapra')">
        <img src="../assets/nyilBalra.png" alt="Holnapra" height="50px" width="50px" (click)="move('mara')">
        <img src="../assets/kukakepUj.png" alt="Holnapra" height="50px" width="50px" (click)="delet()">
    
      </div>
  
    <div class="doboz lista">
      <h3 class="cim">Task for Today</h3>
      <table>
  
        <tbody>
        <tr *ngFor="let k of todosTomorrow">
          <td><input type="checkbox" id="holnnapi[]"  (click)="select(k, 'mara')" ></td>
          <td>{{k.name}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
